.BaseItemContainer {
	margin: 0;
	outline: 1px solid red;
	border-top: 1rem #4c4c4c solid;
	width: 100%;
	min-height: 30rem;
	background-color: black;
}

.tierRow {
	width: 100%;
	height:10rem;
	display: flex;
	/* position: relative; */
}

.tierOptionA {
	background-color: #262626;
	outline: 2px solid white;
}
.tierOptionB {
	background-color: #353535;
	outline: 1px solid yellowgreen;
}
.sidebar{
	outline: 1px solid orange;
	width: 10rem;
	max-width: inherit;

	transform: rotate(-90deg);
  /* transform-origin: top left; */
  /* white-space: nowrap; */
  /* position: absolute; */


}