.itemsContainer {
  border-top: 6px black solid;
  margin: 0;
  width: 1050px;
}

.tierRow {
  width: 100%;
  display: flex;
}

.tierOne {
  min-height: 126px;
  background-color: #262626;
}

.tierTwo {
  min-height: 246px;
  background-color: #353535;
}

.tierThree {
  min-height: 246px;
  background-color: #262626;
}

.tierFour {
  min-height: 126px;
  background-color: #353535;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.sidebar span {
  transform: rotate(-90deg);
}

.itemsListContainer {
  display: flex;

  gap: 10px;
  flex-wrap: wrap;
  width: -webkit-fill-available;
  min-height: auto;
  padding: 1rem 0;
}

.itemContainerSlotNav {
  display: flex;
  gap: 0.25rem;
}

.itemSlotNavTab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  border: 0.15rem black solid;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: slategray;
  font-weight: 800;
}
